language: go
sudo: false

matrix:
  include:
    - go: "1.2"
      before_install:
        - go get code.google.com/p/go.tools/cmd/cover
        - go get code.google.com/p/go.tools/cmd/goimports
    - go: "1.3"
      before_install:
        - go get code.google.com/p/go.tools/cmd/cover
        - go get code.google.com/p/go.tools/cmd/goimports
    - go: "1.4"
      before_install:
        - go get golang.org/x/tools/cmd/cover
        - go get golang.org/x/tools/cmd/goimports
    - go: "tip"
      before_install:
        - go get golang.org/x/tools/cmd/cover
        - go get golang.org/x/tools/cmd/goimports
install:
  - go get github.com/mattn/goveralls
  - go get -d -v ./...
script:
  - go test -v -covermode=count -coverprofile=profile.cov
after_success:
  - goveralls -coverprofile=profile.cov -service=travis-ci
